@theme {
	--color-window-bg: #303030;
	--color-x-axis: #ff3352;
	--color-editor-border: #161616;
	--color-editor-outline: #ffffff15;
	--color-active-editor-outline: #ffffff2a;
	--color-text-cursor: #71a8ff;
	--color-header-text: #888888;
	--color-header-background: #303030b3;
	--color-region-background: #30303000;

	--color-menu-inner: #282828ff;
	--color-menu-outline: #3d3d3dff;
	--color-menu-text: #e6e6e6;
	--color-menu-bg-inner: #181818ff;
	--color-menu-bg-text: #999999;

	--color-icon-object: #e19658ff;
	--color-icon-object-data: #00d4a3ff;
	--color-icon-shading: #cc6670ff;

	--color-topbar-background: #161616;
	--color-status-background: #161616;

	--color-panel-header: #3d3d3dff;
	--color-panel-background: #3d3d3dff;
	--color-panel-sub-background: #0000001f;

	--color-properties-panel-header: var(--color-panel-header);
	--color-properties-panel-background: var(--color-panel-background);
	--color-properties-panel-sub-background: var(--color-panel-sub-background);

	--color-viewport-header-bg: var(--color-header-background);

	--color-ui-scrollbar: #545454ff;

	--color-ui-box-inner: #1d1d1d80;

	--color-ui-number-field-inner: #545454ff;
	--color-ui-number-field-selected: #222222ff;
	--color-ui-number-field-outline: #3d3d3dff;

	--color-ui-radio-button-inner: #545454ff;
	--color-ui-radio-button-selected: #4772b3ff;

	--color-ui-text-inner: #1d1d1dff;
	--color-ui-text-selected: #181818ff;
	--color-ui-text-outline: #3d3d3dff;
	--color-ui-text-text: #e6e6e6;
	--color-ui-text-text-selected: #ffffff;
	--color-ui-text-text-item: #ffffff33;

	--color-ui-toolbar-inner: #282828ff;
	--color-ui-toolbar-selected: #4772b3ff;
	--color-ui-toolbar-outline: #3d3d3dff;

	--color-ui-tooltip-inner: #1d1d1dff;
	--color-ui-tooltip-outline: #242424ff;
	--color-ui-tooltip-text: #d9d9d9;

	--color-ui-menu-text: #e6e6e6;
	--color-ui-menu-inner: #282828ff;
	--color-ui-menu-outline: #3d3d3dff;
	--color-ui-menu-text: #e6e6e6;

	--color-ui-menu-bg-text: #999999;
	--color-ui-menu-bg-inner: #181818ff;
	--color-ui-menu-bg-outline: #242424ff;

	--color-ui-menu-item-selected: #ffffff;
	--color-ui-menu-item-text: #dddddd;
	--color-ui-menu-item-inner-selected: #4772b3ff;

	--color-ui-tab-inner: #1d1d1dff;
	--color-ui-tab-inner-selected: #303030ff;

	--color-ui-option-inner: #545454ff;
	--color-ui-option-inner-selected: #4772b3ff;
	--color-ui-option-outline: #3d3d3dff;
	--color-ui-option-item: #ffffffff;

	--color-outliner-active-highlight: #334d80;
	--color-outliner-active-object: #ffaf29;
	--color-outliner-alternate-rows: #ffffff04;

	--color-browser-selected: #4772b3;
}
