@theme {
	--color-window-bg: #303030;
	--color-x-axis: #ff3352;
	--color-editor-border: #161616;
	--color-editor-outline: #ffffff15;
	--color-active-editor-outline: #ffffff2a;
	--color-text-cursor: #71a8ff;

	--icon-colors-object: #e19658ff;
	--icon-colors-object-data: #00d4a3ff;
	--icon-colors-shading: #cc6670ff;

	--color-topbar-background: #181818b3;

	--color-panel-header: #3d3d3dff;
	--color-panel-background: #3d3d3dff;

	--color-properties-panel-header: var(--color-panel-header);
	--color-properties-panel-background: var(--color-panel-background);

	--color-viewport-header-bg: #303030b3;

	--color-ui-number-field-inner: #545454ff;
	--color-ui-number-field-selected: #222222ff;
	--color-ui-number-field-outline: #3d3d3dff;

	--color-ui-radio-button-inner: #545454ff;
	--color-ui-radio-button-selected: #4772b3ff;

	--color-ui-text-inner: #1d1d1dff;
	--color-ui-text-selected: #181818ff;
	--color-ui-text-outline: #3d3d3dff;

	--color-ui-toolbar-inner: #282828ff;
	--color-ui-toolbar-selected: #4772b3ff;
	--color-ui-toolbar-outline: #3d3d3dff;

	--color-ui-tooltip-inner: #1d1d1dff;
	--color-ui-tooltip-outline: #242424ff;
	--color-ui-tooltip-text: #d9d9d9;
}
