@layer components {
	.input {
		@apply inline-block w-full max-w-full;
		@apply border-ui-text-outline bg-ui-text-inner rounded border px-1 py-0.5;
		@apply text-ui-text-text outline-none focus:brightness-125;
	}

	.btn {
		@apply border-ui-radio-outline bg-ui-radio-inner cursor-pointer rounded border px-1 py-0.5 font-[inherit];
		@apply disabled:cursor-default disabled:opacity-50;
		@apply hover:brightness-125;
	}
}
