@import 'tailwindcss';
@import './theme/index.css';
@import './components.css';
@import './utils.css';

@plugin 'tailwind-scrollbar';

@theme {
	--font-sans: InterVariable, sans-serif;
	--font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';

	--animate-reka-slide-down: reka-slide-down 200ms ease-out;
	--animate-reka-slide-up: reka-slide-up 200ms ease-out;

	@keyframes reka-slide-down {
		from {
			height: 0;
		}
		to {
			height: var(--reka-accordion-content-height);
		}
	}

	@keyframes reka-slide-up {
		from {
			height: var(--reka-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

#app {
	@apply contents;
}

body {
	@apply h-dvh;
}

.selection-box {
	@apply pointer-events-none absolute z-100 border border-dashed border-white bg-[#ffffff10];
}

button:hover {
	@apply brightness-125;
}
