@import 'tailwindcss';

@theme {
	--font-sans: InterVariable, sans-serif;
	--font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
	--color-x-axis: #ff3352;
	--window-bg: #282828;
}

#app {
	@apply contents;
}

body {
	@apply h-dvh;
}
