@utility menubar-content {
	@apply text-ui-menu-item-text border-ui-menu-bg-outline bg-ui-menu-bg-inner z-10 flex min-w-[200px] flex-col gap-1 rounded border p-0.5 text-xs data-[state=open]:rounded-tl-none;
}

@utility block-border {
	@apply border-editor-outline hover:border-active-editor-outline border;
}

@utility alternate-rows {
	background-image: repeating-linear-gradient(
		to bottom,
		var(--color-window-bg) 0em,
		var(--color-window-bg) 1.5rem,
		var(--color-outliner-alternate-rows) 1.5rem,
		var(--color-outliner-alternate-rows) 3rem
	);
}

@utility checkerboard {
	background: conic-gradient(
		var(--color-checkerboard-primary) 90deg,
		var(--color-checkerboard-secondary) 90deg 180deg,
		var(--color-checkerboard-primary) 180deg 270deg,
		var(--color-checkerboard-secondary) 270deg
	);
	background-repeat: repeat;
	background-size: var(--checkerboard-size) var(--checkerboard-size);
	background-position: top left;
}

@utility panel-content {
	@apply py-2 pr-3 pl-1;
}
